
/*
Bootstrap things
*/
.navbar {
	color: white;
	background-color: rgb(50, 50, 50);
	margin-bottom: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container {
	background-color: white;
}

/*
Header
*/
#header h3 {
	font-weight: bold;
	margin: 20px;
	float: left;
}

#nav-user {
	margin: 20px;
	clear: left;
	float: left;
	text-align: center;
}

#nav-user span {
	margin-right: 5px;
}

/*
Product Info
*/
#product-img {
	border-radius: 5px;
	display: inherit;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#avg-rating, #write-area {
	text-align: center;
}

#product-info p {
	font-weight: bold;
	border-radius: 5px;
	padding: 5px;
}


/*
Helpful Reviews
*/
#helpful {
	background-color: rgba(2, 215, 237, .2);
	text-align: center;
	border-radius: 20px;
}


/*
Write a review
*/
form input, form textarea, form button {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*
Review Area and Reviews
*/
.review {
	border-top:2px solid lightgray;
	color: black;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.thumb{
	float: right;
}

.thumb:hover {
	cursor: hand;
	cursor: pointer;
}

.num-liked {
	font-size: 12px;
}


/*
General Tags
*/
body {
	background-color: lightgray;
	font-size: 16px;
}

h1 {
	font-weight: bold;
}

h2 {
	text-align: center;
}

/*
Media Queries
*/
@media only screen and (min-width: 565px) {
	#nav-user {
		float: right;
		clear: none;
	}
}

@media only screen and (min-width: 768px) {
	/*
	My classes and Ids
	*/
	#product-img{
		width: 700px;
	}

	/*
	General Tags
	*/
	body {
		font-size: 20px;
	}
}